* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #e03430, #f5a540, #4aa236);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
